<h1>Editing {{illustrator.name}}</h1>

<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" ngNativeValidate>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" required>
  </div>

  <div>
    <h3>Illustrated</h3>
    <div *ngIf="illustrator.illustrated.length > 0; noIllustrated" formArrayName="books">
      <div *ngFor="let book of bookControls().controls; index as i">
        <input formControlName="{{i}}">
        <button type="button" (click)="removeBookControl(i)">X</button>
      </div>
    </div>
    
    <ng-template #noIllustrated>
      No illustrated books listed
    </ng-template>
  </div>

  <div>
    <button type="submit">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </div> 
</form>