<header>
  <h1 *ngIf="!illustrator; else editIllustrator"></h1>
  
  <ng-template #editIllustrator>
    <h1>Editing {{illustrator.name}}</h1>
  </ng-template>
</header>

<main class="flex-container flex-center flex-column">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" ngNativeValidate class="paper">
    <div>
      <label for="name">Name</label>
      <input class="text-box block" id="name" type="text" formControlName="name" required>
    </div>

    <div>
      <h3>Illustrated</h3>
      <div *ngIf="illustrator && illustrator.illustrated.length > 0; noIllustrated" formArrayName="books">
        <div *ngFor="let book of bookControls().controls; index as i">
          <input class="text-box" formControlName="{{i}}">
          <button class="regular-button" type="button" (click)="removeBookControl(i)">X</button>
        </div>
      </div>
      
      <ng-template #noIllustrated>
        No illustrated books listed
      </ng-template>
    </div>

    <div>
      <button class="success-button tiny-margin-right" type="submit">Save</button>
      <button class="warning-button" type="button" (click)="onCancel()">Cancel</button>
    </div> 
  </form>
</main>