<header>
  <h1>Editing {{ author.name }}</h1>
</header>

<main class="flex-container flex-center flex-column">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)" ngNativeValidate class="paper">
    <div>
      <label for="name">Name</label>
      <input class="text-box block" id="name" type="text" formControlName="name" required>
    </div>

    <div>
      <h3>Authored</h3>
      <div *ngIf="author.authored.length > 0; else noAuthored" formArrayName="books">
        <div *ngFor="let book of bookControls().controls; index as i">
          <input class="text-box" formControlName="{{i}}" disabled>
          <button class="regular-button" type="button" (click)="removeBookControl(i)">X</button>
        </div>
      </div>

      <ng-template #noAuthored>
        No authored books listed
      </ng-template>

    </div>

    <div>
      <button class="success-button tiny-margin-right" type="submit">Save</button>
      <button class="warning-button" type="button" (click)="onCancel()">Cancel</button>
    </div> 
  </form>
</main>