<header>
  <h1>Book List</h1>
  <h2>{{ listName }}</h2>
</header>

<main class="flex-container flex-center flex-column">
  <div class="flex-container flex-column paper">
    <div>
      <a title="Add a new book" [routerLink]="['/new']" class="success-button">New Book</a>
      <button (click)="changeList(Lists.ALL)" class="{{buttonStyles[0]}}">All Books</button>
      <button (click)="changeList(Lists.CURRENTLY_READING)" class="{{buttonStyles[1]}}">Currently Reading</button>
      <button (click)="changeList(Lists.PLAN_TO_READ)" class="{{buttonStyles[2]}}">Plan to Read</button>
      <button (click)="changeList(Lists.READ)" class="{{buttonStyles[3]}}">Read</button>
      <button (click)="changeList(Lists.UNREAD)" class="{{buttonStyles[4]}}">Unread</button>
      <button (click)="changeList(Lists.OWNED)" class="{{buttonStyles[5]}}">Owned</button>
      <button (click)="changeList(Lists.NOT_OWNED)" class="{{buttonStyles[6]}}">Not Owned</button>
      <button (click)="changeList(Lists.DROPPED)" class="{{buttonStyles[7]}}">Dropped</button>
    </div>

    <div class="flex-container flex-column">
      <div *ngIf="cachedBooks.length > 0; else noBooks" class="book-list">
        <div *ngFor="let book of loadList()" class="list-item">
          <a class="link" [routerLink]="['/book', book.id]">{{ book.name }}</a>
        </div>
      </div>

      <ng-template #noBooks>
        <div class="empty-list">
          This list is empty
        </div>
      </ng-template>
    </div>
  </div>



</main>