@import '../../scss/variables';
@import '../../scss/buttons';
@import '../../scss/containers';

$list-bg-even: rgb(180, 180, 180);
$list-bg-odd: rgb(220, 220, 220);
$list-bg-even-hover: rgb(120, 120, 120);
$list-bg-odd-hover: rgb(190, 190, 190);

.regular-button:not(:last-child), .success-button{
  margin-right: $tiny-spacing;
}

.list {
  @extend %container;
}

.empty-list {
  margin-top: $small-spacing;
}

.book-list {
  @extend %paper;
  border-style: outset;
  margin-top: $small-spacing;
}

.list-item {
  padding: $small-spacing;
}

.list-item:nth-child(even) {
  background-color: $list-bg-even;
}
.list-item:nth-child(even):hover {
  background-color: $list-bg-even-hover;
}

.list-item:nth-child(odd) {
  background-color: $list-bg-odd;
}

.list-item:nth-child(odd):hover {
  background-color: $list-bg-odd-hover;
}
