/* You can add global styles to this file, and also import other style files */
$bg: rgb(245, 245, 245);

body {
  background-color: $bg;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
