$tiny-spacing: 0.5em;
$small-spacing: 1em;
$med-spacing: 2em;

$success-color: green;
$success-hover-color: rgb(0, 92, 5);
$warning-color: yellow;
$warning-hover-color: rgb(211, 191, 8);
$danger-color: red;
$danger-hover-color: rgb(199, 0, 0);
$link-color: white;

$drop-shadow-color: gray;
$drop-shadow: 0 6px 6px -4px $drop-shadow-color;

$border-width: 1px;