$tiny-spacing: 0.5em;
$small-spacing: 1em;
$med-spacing: 2em;

$success-color: green;
$success-hover-color: rgb(0, 92, 5);
$warning-color: yellow;
$warning-hover-color: rgb(211, 191, 8);
$danger-color: red;
$danger-hover-color: rgb(199, 0, 0);
$regular-color: gray;
$regular-hover-color: rgb(120, 120, 120);
$button-text-color: white;
$link-color: blue;

$drop-shadow-color: gray;
$drop-shadow: 0 6px 6px -4px $drop-shadow-color;
$border-color: rgb(120, 120, 120);

$border-width: 1px;