<h1>{{book.name}}</h1>
<p>Pages: {{book.pages}}</p>
<p>ISBN: {{book.isbn}}</p>

<h2>Authors</h2>
<div *ngIf="book.authors.length > 0; else noAuthors">
    <ul>
        <li *ngFor="let author of book.authors">{{author.name}}</li>
    </ul>
</div>

<ng-template #noAuthors>
    No authors listed
</ng-template>

<h2>Illustrators</h2>
<div *ngIf="book.illustrators.length > 0; else noIllustrators">
    <ul>
        <li *ngFor="let illustrator of book.illustrators">{{illustrator.name}}</li>
    </ul>
</div>

<ng-template #noIllustrators>
    No Illustrators listed
</ng-template>

<h2>In Lists</h2>
<div>
    <label for="currentlyReading">Currently Reading</label>
    <input id="currentlyReading" type="radio" [checked]="book.readingState === ReadingState.CURRENTLY_READING" disabled/>

    <label for="planToRead">Plan to Read</label>
    <input id="planToRead" type="radio" [checked]="book.readingState === ReadingState.PLAN_TO_READ" disabled/>

    <label for="dropped">Dropped</label>
    <input id="dropped" type="radio" [checked]="book.readingState === ReadingState.DROPPED" disabled/>
</div>

<div>
    <label for="read">Read</label>
    <input id="read" type="checkbox" [checked]="book.read" disabled />

    <label for="owned">Owned</label>
    <input id="owned" type="checkbox" [checked]="book.owned" disabled />
</div>

<div>
    <button (click)="onEdit()">Edit</button>
    <button (click)="onDelete()">Delete</button>
</div>